<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta property="og:image" content="https://tympanix.github.io/pattern-lock-js/mockup.jpg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pattern Lock</title>
    <style media="screen">
        * {
            box-sizing: border-box;
        }

        html,
        body {
            padding: 0;
            margin: 0;
            height: 100vh;
            max-height: 100vh;
            overflow: hidden;
        }

        body {
            font-family: 'Varela Round', sans-serif;
        }

        .container {
            margin: auto;
            height: 100%;
        }

        h1 {
            text-align: center;
            margin: 0;
            height: 15vh;
            line-height: 15vh;
            text-align: center;
            font-size: 6vh;

        }

        #lock {
            width: 100%;
            height: calc(100% - 15vh);
            padding-bottom: 12vh;
            min-height: 120px;
        }

        .stars {
            margin: auto;
            display: block;
        }
    </style>

    <link rel="stylesheet" href="patternstyles.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Technothlon</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
                    <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                        <li>Level Name: The 25 Floor Building</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Hint 1: 5 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Hint 2: 5 marks</li>
                        <li role="separator" class="divider"></li>
                        <li>Deduction On Skip: 15 marks</li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile">View Profile</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 200px;">
                <form style="text-align: center;" action="/hint" method="POST">
                    <label for="hint">Type 'hint' in the box below to get a hint</label>
                    <input style="width: 150px;" type="text" name="hint" id="hint">
                    <button style="margin-top: 5px;" type="submit">Submit</button>
                </form>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
                <ul class="dropdown-menu" style="width: 200px;">
                    <form style="text-align: center;" action="/skip" method="POST">
                        <label for="hint">Type 'skip' in the box below to skip this level</label>
                        <input style="width: 150px;" type="text" name="skip" id="skip">
                        <button style="margin-top: 5px;" type="submit">Submit</button>
                    </form>
                </ul>
            </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <h2 align="center">Unlock the next level by entering a pattern which uses all 9 dots and has reflective symmetry.</h2>
        <svg class="patternlock" id="lock" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <g class="lock-actives"></g>
            <g class="lock-lines"></g>
            <g class="lock-dots">
                <circle cx="20" cy="20" r="2"/>
                <circle cx="50" cy="20" r="2"/>
                <circle cx="80" cy="20" r="2"/>

                <circle cx="20" cy="50" r="2"/>
                <circle cx="50" cy="50" r="2"/>
                <circle cx="80" cy="50" r="2"/>

                <circle cx="20" cy="80" r="2"/>
                <circle cx="50" cy="80" r="2"/>
                <circle cx="80" cy="80" r="2"/>
            </g>
        </svg>
    </div>


    <script src="vendor.js"></script>
    <script src="patternlock.js"></script>
    <script type="text/javascript">
    var e = document.getElementById('lock')
    var p = new PatternLock(e, {
        onPattern: function() {
            this.success()
        }
    });
    </script>
    <script type="text/javascript" src="pattern_check_symmetry.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>