<!DOCTYPE html>
<html lang="en">
<head>
  <title>Poll</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <style>
      .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: #2F4F4F;
        grid-gap: 10px;
        padding: 10px;
        }

        .grid-item {
        background-color: #d9b3ff;
        border: 1px solid #000000;
        padding: 40px;
        font-size: 30px;
        text-align: center;
        }
        .grid-item img{
            height: 100px;
            width: 100px;
        }
        .black-circle{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: black
        }
        .white-circle{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white
        }
  </style>
  
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Technothlon</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level Stats <span class="caret"></span></a>
              <ul style="text-align: center; width: 250px;" class="dropdown-menu">
                <li>Level Name: The 25 Floor Building</li>
                <li role="separator" class="divider"></li>
                <li>Deduction On Hint 1: 5 marks</li>
                <li role="separator" class="divider"></li>
                <li>Deduction On Hint 2: 5 marks</li>
                <li role="separator" class="divider"></li>
                <li>Deduction On Skip: 15 marks</li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">View Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hint <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width: 200px;">
          <form style="text-align: center;" action="/hint" method="POST">
            <label for="hint">Type 'hint' in the box below to get a hint</label>
            <input style="width: 150px;" type="text" name="hint" id="hint">
            <button style="margin-top: 5px;" type="submit">Submit</button>
          </form>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skip <span class="caret"></span></a>
            <ul class="dropdown-menu" style="width: 200px;">
              <form style="text-align: center;" action="/skip" method="POST">
                <label for="hint">Type 'skip' in the box below to skip this level</label>
                <input style="width: 150px;" type="text" name="skip" id="skip">
                <button style="margin-top: 5px;" type="submit">Submit</button>
              </form>
            </ul>
        </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
	<div class="container">
		<div class="question text-primary text-center">
			<h3>You are currently running for reelection, but the polls aren't exactly in your favor. Each square in this grid is a county. Counties with a black dot are voting for you, while counties with a white dot are voting for your opponent. Can Mathlandia be divided (along the gridlines) into five contiguous states of equal area such that a majority of the states have more black dots than white dots?</h3>
		</div>

		<div class="grid-container" id="area-grid" align="center">
			
		</div>

		<div id="button-list" class="btn-group">
		</div>
		<div style="width:350px;" align="center">
			<button onclick="check_answer()" type="button" class="btn btn-success btn-lg pull-right">Submit</button>
		</div>
		<script type="text/javascript" src="poll.js"></script>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>