<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Detectives vs Nelson</h1>
                <p>This is about Nelson, a serial killer who, after each murder, leaves a chess diagram in the scene of the crime. These chessboards give you the opportunity to decipher where, how and when Nelson will perform again.</p>
            <% if(user.newid == "Brandon") { %>
                <p>For this puzzle you are Detective Brandon.</p>
                <p>You will solve this case with your subordinate Makeda and his friend Campbell.</p>
                <p>Campbell is not part of this case but he is here to help you.</p>
                <p>You never forget your black hat under any circumstance.</p>
                <ul>
                    <li><em>Both you and Detective Makeda are left-handed.</em></li>
                    <li><em>When investigating a corpse, you both like keeping as close as possible to it.</em></li>
                </ul>
            <% } %>
            <% if(user.newid == "Makeda") { %>
                <p>For this puzzle you are Detective Makeda.</p>
                <p>You will solve this case with your superior Brandon and your friend Campbell.</p>
                <p>Campbell is not part of this case but he is here to help you.</p>
                <p>Brandon, who is the superior, won’t forget his black hat under any circumstance.</p>
                <ul>
                    <li><em>Both you and Detective Brandon are left-handed.</em></li>
                    <li><em>When investigating a corpse, you both like keeping as close as possible to it.</em></li>
                </ul>
            <% } %>
            <% if(user.newid == "Campbell") { %>
                <p>For this puzzle you are Campbell.</p>
                <p>You will solve this case with Detectives Brandon and Makeda.</p>
                <p>You are not part of this case but you are here to help.</p>
                <p>Brandon, who is the superior, won’t forget his black hat under any circumstance.</p>
                <ul>
                    <li><em>Both detectives are left-handed.</em></li>
                    <li><em>When investigating a corpse, they like keeping as close as possible to it.</em></li>
                </ul>
            <% } %>
            <hr>
            <p><strong>Scene 1 (26-Jan-2016)</strong></p>
            <p>It is known this was the second victim of Nelson; the remains of the first victim were never found.</p>
            <p>The lifeless body of a 19 year-old teenager was found hanging upside-down a tree. Right under the body, detectives found the first diagram and a very particular weapon next to it. Under the diagram there was a note:</p>
            <p style="font-family: 'Patrick Hand', cursive; font-size: 25px; background: darkkhaki; padding-left: 5px;">You first, Makeda. Do it the best you can. And remember: <em>I'm always one step ahead</em> of you both.</p>
            <img src="https://i.stack.imgur.com/TE2fb.png">
            <hr>
            <p><strong>Scene 2 (27-Feb-2016)</strong></p>
            <p>At the scene, the detectives found an old man’s body, with two shots to the head. Next to the body, there were three bullets; it seems that one of them was never used. The serial killer left this chessboard, with some gunpowder spread all over the pieces. There was a note:</p>
            <p style="font-family: 'Patrick Hand', cursive; font-size: 25px; background: darkkhaki; padding-left: 5px;">I love how weak my victims are, detectives. That's the beauty behind murdering people.</p>
            <img src="https://i.stack.imgur.com/Z6l76.png">
            <hr>
            <p><strong>Scene 3 (10-Apr-2016)</strong></p>
            <p>Detectives were feeling really agitated. Three murders in less than 3 months. They needed to stop this massacre, so this last chessboard was crucial to find a pattern and predict the next place for a possible crime.</p>
            <p>A beautiful, mid-aged woman had her hands and feet tied down, three shots to the chest. She was lying on the grass, and there was no evidence she had been abused. Again, the typical chessboard next to her, with a note:</p>
            <div style="font-family: 'Patrick Hand', cursive; font-size: 25px; background: darkkhaki;">
                    <p style="padding-left: 5px;">You move again, detectives. And know, by the way, I just broke down your car. Mine is wrecked as well, but that won't stop me.</p>
                    <p style="padding-left: 5px;">Know, by the way, that <em>while you are reading this note, I am killing my 5th victim!</em> There I won't leave any chessboards whatsoever. Will you stop me before I kill my 6th victim?</p>
            </div>
            <img src="https://i.stack.imgur.com/rJrG6.png">
            <p>Scared of what they just read, they knew there was going to be a 5th victim. Having these diagrams and notes, detectives need to find out:</p>
            <ol>
                <li><strong>Where</strong> (square) will the detectives find the 5th poor soul?</li>
                <li><strong>Where</strong> (square) will Nelson try to kill his 6th victim?</li>
                <li><strong>When</strong> (day and month) does Nelson intend to kill the 6th victim?</li>
                <li>Can you say anything about <strong>how</strong> (weapon/method) Nelson intends to murder his 5th victim?</li>
            </ol>
            <p><em>(<strong>Note:</strong> the dates indicated for each scene, are the dates for which detectives Brandon and Makeda find a dead body on the scene of the crime. This concides with the date when the next victim is being murdered.)</em></p>
            <a href="/chatroom">Click Here After You Have Read The Instructions</a>
        </div>
    </body>
</html>