<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>A Very Odd Game</h1>
            <% if(user.newid == "Brandon") { %>
                For this puzzle you are Barry.
            <% } %>
            <% if(user.newid == "Makeda") { %>
                For this puzzle you are John.
            <% } %>
            <% if(user.newid == "Campbell") { %>
                For this puzzle you are Caleb.
            <% } %>
            <p>You will be paired against two other players.</p>
            <p>The rules are quite simple:</p>
            <ul>
                <li>The first player gets to take either 1, 2, 3, 4 or 5 from the 40 available pens.</li>
                <li>Then, the second player is also able to pick either 1, 2, 3, 4, or 5 from the remaining pens.</li>
                <li>The third player is able to do the same</li>
                <li>Repeat steps 1, 2 and 3 until the player who takes the last pen loses</li>
            </ul>
            <p>Number Of Boxes Left: <span id="pensLeft">40</span></p>
            <div id="pens">
            </div>
            <p>Your Boxes: <span id="noofmypens">0</span></p>
            <div id="mypens">
                
            </div>
            <input type="text" id="myinput" name="myinput">
            <button id="btn" type="submit">Submit</button>
            <p>Your Opponent1's Boxes: <span id="noofopponent1pens">0</span></p>
            <div id="opponent1pens">

            </div>
            <p>Your Opponent2's Boxes: <span id="noofopponent2pens">0</span></p>
            <div id="opponent2pens">

            </div>
        </div>
    </body>
</html>