<!DOCTYPE html>
<html>
    <head>
        <title>Technothlon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>The Game Of The Pebbles</h1>
            <p>You and your opponent play a game that starts with 330 pebbles in a bowl.</p>
            <p>The game consists of two phases. The first phase looks as follows:</p>
            <ul>
                <li>First You announce an integer A with <span style="font-size: 20px;">2 ≤ A ≤ 9</span>.</li>
                <li>Then your opponent announce an integer B with <span style="font-size: 20px;">2 ≤ B ≤ 9 and B ≠ A.</span>.</li>
            </ul>
            <ul>
                    <li>First You announce an integer A with <span style="font-size: 20px;">2 ≤ A ≤ 9</span>.</li>
                    <li>Then your opponent announce an integer B with <span style="font-size: 20px;">2 ≤ B ≤ 9 and B ≠ A.</span>.</li>
            </ul>
            <p>The second phase looks as follows:</p>
            <ul>
                <li>The two players alternately take pebbles out of the bowl.</li>
                <li>It is <span id="player"></span> chance first.</li>
                <li>In every move, you may either take 1 pebble or A pebbles.</li>
            </ul>
        </div>
    </body>
</html>